.NETBibleTagged:hover{text-decoration:underline;}
#verseTarget, #nbtPoweredBy{padding:10px 11px;}
#nbtVerseTitle{color:#fff !important;}
#nbtPoweredBy{border-top:1px solid #ddd; font-size:13px !important;}

#nbtDiv{-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15) !important;
-moz-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15) !important; box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15) !important;}
#nbtDiv{ font-family:'Raleway', sans-serif !important;}


#verseTarget::-webkit-scrollbar {
    width: 12px;
  }
  html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #33b5e5;
  }
  #verseTarget {
    scrollbar-width: thin;
    line-height: 23px;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  #verseTarget::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  #verseTarget::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }

#nbtClose{position: absolute; left: 89.5%; overflow: visible; z-index: 9;}
#nbtCloseImage{visibility: hidden;}
#nbtClose:before{content: "\2715";border: none;font-size: 14px;
color: #ffffff !important; padding: 3px 15px !important;font-weight: 700;text-shadow: 0 1px 0 #fff;
text-transform: uppercase; display: inline-block; transition: all 0.3s ease 0s;}
#nbtHeader, #verseTarget{width:400px;}
#nbtHeader {
    background: #33b5e5 !important;
    border:0px !important;
    background-image: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    height:auto !important;
    padding: 4px 0px 13px 2px;
}
#verseTarget a, #nbtPoweredBy a{
  font-weight: bold;
  font-size: 15px !important;
}